mixin arrow-btn(options)
    //- @options.direction - направление стрелки (left, right)
    //- @options.type - тип кнопки (outlined, contained, transparent)
    //- @options.color - цвет кнопки (green, orange)
    - var baseClass = 'arrow-btn';
    - var typeClass = '';
    - var directionClassname = `${baseClass}--left`;
    - var classList = '';

    //- Добавим класс для определения типа кнопки
    case options.type 
        when 'contained'
            - typeClass += ` contained-arrow-btn`;
        when 'transparent'
            - typeClass += ` transparent-arrow-btn`;
        default
            - typeClass += ` outlined-arrow-btn`;
    - classList += baseClass;
    - classList += typeClass;

    //- Добавим класс для определения цвета
    if options.color === 'orange'
        - classList += ` ${typeClass}--${options.color}`
    else 
        - classList += ` ${typeClass}--green`

    if options.direction === 'right'
        button(class=`${classList} ${baseClass}--${options.direction}` type="button")
            include ./../../../img/chevron-right.svg
    else
        button(class=`${classList} ${baseClass}--left` type="button")
            include ./../../../img/chevron-left.svg