mixin standard-btn(options) 
    //- @options.size - размер кнопки (big, small)
    //- @options.type - разновидность кнопки (outlined, contained, volume)
    //- @options.color - цвет кнопки (green, orange)
    //- @options.text - текст кнопки
    - var additionalClass = '';
    - var baseClass = 'standard-btn';
    - var btnColor = 'green';
    - var classList = '';

    case options.type 
        when 'volume-btn'
            - additionalClass = 'volume-btn'
        when 'contained-btn'
            - additionalClass = 'contained-btn'
        default
            - additionalClass = 'outlined-btn'

    if options.color === 'orange'
        - btnColor = options.color;

    - classList += `${baseClass} ${baseClass}--${options.size} ${additionalClass} ${additionalClass}--${btnColor}`;
    if additionalClass === 'contained-btn'
        button(type="button" class=classList)= (options.text !== 'Button') ? options.text : 'Button'
            i(class=`${additionalClass}__ripple-shape`)
    else
        button(type="button" class=classList)= (options.text !== 'Button') ? options.text : 'Button'