mixin toggle-btn(options)
    //- Свойства options
    //- @data - тип данных (разрешить рассылку по почте и пр) (String)
    //- @value - pначение чекбокса (String)
    //- @isChecked - активен ли чекбокс (Boolean)
    //- @color - цвет чекбокса (String)
    //- @text – кастомный текст чекбокса (не обязательно) (Array)
    - var toggleBtnBaseClass = 'toggle-btn';
    - var colorClass = '';
    - var toggleStatesText = ['on', 'off'];
    //- Присвоим чекбоксу цвет
    if options.color === 'green'
        - colorClass = 'green';
    else
        - colorClass = 'orange';
    //- Если был передан кастомный текст - установим его для чекбокса
    if options.text
        - toggleStatesText = options.text
    if options.isChecked === true
        div(class=`${toggleBtnBaseClass}-wrapper ${toggleBtnBaseClass}-wrapper--${colorClass}`)
            label(class='toggle-btn-label toggle-btn-label--active')
                span.toggle-btn-label__label-text(data-active=toggleStatesText[0] data-inactive=toggleStatesText[1])= toggleStatesText[0]
                input(type="checkbox" class=toggleBtnBaseClass name=options.data value=options.value checked)
    else
        div(class=`${toggleBtnBaseClass}-wrapper ${toggleBtnBaseClass}-wrapper--${colorClass}`)
            label.toggle-btn-label
                span.toggle-btn-label__label-text(data-active=toggleStatesText[0] data-inactive=toggleStatesText[1])= toggleStatesText[1]
                input(type="checkbox" class=toggleBtnBaseClass name=options.data value=options.value)

